.movie_genre {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  color: #f4ddd5;
  margin-bottom: 10px;
}

.poster {
  text-align: center;
  padding: 10px;
}

.movie_title {
  height: 60px;
  text-align: center;
  background-color: #c48f7f;
  color: white !important;
  padding: 10px;
}

.button {
  background-color: #fdc689 !important;
}
