.backButton {
  text-align: center;
  margin-top: 20px;
}

.director-container {
  margin-top: 100px !important;
}

.movie-img {
  width: 150px !important;
  margin-left: 20px;
}

.director-movies {
  margin-top: 20px;
}
